@font-face {
  font-family: "iconfont"; /* Project id 3288514 */
  src: url('iconfont.woff2?t=1648711669802') format('woff2'),
       url('iconfont.woff?t=1648711669802') format('woff'),
       url('iconfont.ttf?t=1648711669802') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-scjd-flag-EU:before {
  content: "\e8fd";
}

.el-icon-scjd-flag-USA:before {
  content: "\e611";
}

.el-icon-scjd-flag-USA1:before {
  content: "\e610";
}

.el-icon-scjd-emblem-China:before {
  content: "\e64d";
}

.el-icon-scjd-police:before {
  content: "\e604";
}

.el-icon-scjd-emblem-police:before {
  content: "\e647";
}

.el-icon-scjd-emblem-China1:before {
  content: "\e62f";
}

.el-icon-scjd-emblem-police1:before {
  content: "\e6c2";
}

.el-icon-scjd-policeman:before {
  content: "\e8f3";
}

.el-icon-scjd-flag-India:before {
  content: "\e605";
}

.el-icon-scjd-flag-Russia:before {
  content: "\e606";
}

.el-icon-scjd-flag-Britain:before {
  content: "\e608";
}

.el-icon-scjd-emblem-party:before {
  content: "\e612";
}

.el-icon-scjd-flag-CN:before {
  content: "\e676";
}

.el-icon-scjd-flag-HK:before {
  content: "\e678";
}

.el-icon-scjd-emblem-police2:before {
  content: "\e66b";
}

.el-icon-scjd-flag-China:before {
  content: "\e683";
}

.el-icon-scjd-emblem-party1:before {
  content: "\e80f";
}

.el-icon-scjd-emblem-party-fill:before {
  content: "\e810";
}

.el-icon-scjd-police1:before {
  content: "\eb49";
}

.el-icon-scjd-emblem-police3:before {
  content: "\e609";
}

.el-icon-scjd-emblem-party2:before {
  content: "\e60a";
}

.el-icon-scjd-police-car:before {
  content: "\e607";
}

.el-icon-scjd-police-message:before {
  content: "\e600";
}

.el-icon-scjd-emblem-police4:before {
  content: "\e62b";
}

.el-icon-scjd-flag-Britain1:before {
  content: "\e651";
}

.el-icon-scjd-police-clock:before {
  content: "\e77d";
}

.el-icon-scjd-police2:before {
  content: "\e691";
}

.el-icon-scjd-flag-EU1:before {
  content: "\e621";
}

.el-icon-scjd-flag-Japan:before {
  content: "\e623";
}

.el-icon-scjd-emblem-China2:before {
  content: "\e601";
}

.el-icon-scjd-flag-HK1:before {
  content: "\e602";
}

.el-icon-scjd-currency-dollar:before {
  content: "\e6f4";
}

.el-icon-scjd-currency-rmb:before {
  content: "\e703";
}

.el-icon-scjd-all-fill:before {
  content: "\e718";
}

.el-icon-scjd-cart-add:before {
  content: "\e742";
}

.el-icon-scjd-all:before {
  content: "\e743";
}

.el-icon-scjd-cart-full:before {
  content: "\e746";
}

.el-icon-scjd-cecurity-protection:before {
  content: "\e747";
}

.el-icon-scjd-arrows-download1:before {
  content: "\e74d";
}

.el-icon-scjd-electronics:before {
  content: "\e74e";
}

.el-icon-scjd-filter:before {
  content: "\e751";
}

.el-icon-scjd-currency-jewelry:before {
  content: "\e754";
}

.el-icon-scjd-ipad:before {
  content: "\e755";
}

.el-icon-scjd-loading:before {
  content: "\e756";
}

.el-icon-scjd-bank:before {
  content: "\e759";
}

.el-icon-scjd-language:before {
  content: "\e75a";
}

.el-icon-scjd-save:before {
  content: "\e762";
}

.el-icon-scjd-cart-search:before {
  content: "\e763";
}

.el-icon-scjd-chemistry:before {
  content: "\e75e";
}

.el-icon-scjd-arrows-upload1:before {
  content: "\e76b";
}

.el-icon-scjd-aviation:before {
  content: "\e770";
}

.el-icon-scjd-currency-red-packet:before {
  content: "\e772";
}

.el-icon-scjd-circle-nightmode:before {
  content: "\e773";
}

.el-icon-scjd-vip:before {
  content: "\e774";
}

.el-icon-scjd-circle-daytimemode-fill:before {
  content: "\e77c";
}

.el-icon-scjd-file-exl:before {
  content: "\e9d5";
}

.el-icon-scjd-filter-fill:before {
  content: "\e9d6";
}

.el-icon-scjd-language-fill:before {
  content: "\e9d7";
}

.el-icon-scjd-circle-nightmode-fill:before {
  content: "\e9d8";
}

.el-icon-scjd-file-pdf:before {
  content: "\e9d9";
}

.el-icon-scjd-save-fill:before {
  content: "\e9de";
}

.el-icon-scjd-vip-fill:before {
  content: "\e9df";
}

.el-icon-scjd-file-zip:before {
  content: "\e9e0";
}

.el-icon-scjd-medal-fill:before {
  content: "\e9e1";
}

.el-icon-scjd-medal:before {
  content: "\e9e2";
}

.el-icon-scjd-file-doc:before {
  content: "\e9e5";
}

.el-icon-scjd-file-jpeg:before {
  content: "\e9e6";
}

.el-icon-scjd-file-gif:before {
  content: "\e9e7";
}

.el-icon-scjd-file-bmp:before {
  content: "\e9e8";
}

.el-icon-scjd-file-tif:before {
  content: "\e9e9";
}

.el-icon-scjd-file-png:before {
  content: "\e9ea";
}

.el-icon-scjd-file-txt:before {
  content: "\e9ed";
}

.el-icon-scjd-file-xlsx:before {
  content: "\e9ee";
}

.el-icon-scjd-warehouse:before {
  content: "\e9f0";
}

.el-icon-scjd-singal:before {
  content: "\e9f1";
}

.el-icon-scjd-currency:before {
  content: "\e9f2";
}

.el-icon-scjd-eraser:before {
  content: "\e9f3";
}

.el-icon-scjd-flag1:before {
  content: "\e9f4";
}

.el-icon-scjd-pointerleft:before {
  content: "\e9f6";
}

.el-icon-scjd-file-cad:before {
  content: "\e9f7";
}

.el-icon-scjd-user-bussiness-man:before {
  content: "\e6f0";
}

.el-icon-scjd-component:before {
  content: "\e6f2";
}

.el-icon-scjd-circle-record:before {
  content: "\e637";
}

.el-icon-scjd-renew:before {
  content: "\e63a";
}

.el-icon-scjd-order:before {
  content: "\e63b";
}

.el-icon-scjd-order-unread:before {
  content: "\e63c";
}

.el-icon-scjd-arrows-link1:before {
  content: "\e641";
}

.el-icon-scjd-notification1:before {
  content: "\e649";
}

.el-icon-scjd-notification-off:before {
  content: "\e64a";
}

.el-icon-scjd-phonecall:before {
  content: "\e64b";
}

.el-icon-scjd-phonecall-off:before {
  content: "\e64c";
}

.el-icon-scjd-flow:before {
  content: "\e650";
}

.el-icon-scjd-user:before {
  content: "\e656";
}

.el-icon-scjd-user-sub-account:before {
  content: "\e658";
}

.el-icon-scjd-user-partner:before {
  content: "\e659";
}

.el-icon-scjd-circle-international:before {
  content: "\e65b";
}

.el-icon-scjd-circle-forbidden:before {
  content: "\e661";
}

.el-icon-scjd-circle-forbidden-fill:before {
  content: "\e662";
}

.el-icon-scjd-circle-help:before {
  content: "\e666";
}

.el-icon-scjd-heart:before {
  content: "\e669";
}

.el-icon-scjd-heart-fill:before {
  content: "\e66a";
}

.el-icon-scjd-logo-stackflow:before {
  content: "\e67e";
}

.el-icon-scjd-logo-applets:before {
  content: "\e682";
}

.el-icon-scjd-circle-server-fault:before {
  content: "\e684";
}

.el-icon-scjd-balance:before {
  content: "\e685";
}

.el-icon-scjd-hourglass-fill:before {
  content: "\e903";
}

.el-icon-scjd-funnel-plot:before {
  content: "\e804";
}

.el-icon-scjd-home-fill:before {
  content: "\e904";
}

.el-icon-scjd-like:before {
  content: "\e805";
}

.el-icon-scjd-unlike:before {
  content: "\e806";
}

.el-icon-scjd-unlock:before {
  content: "\e807";
}

.el-icon-scjd-flag:before {
  content: "\e80a";
}

.el-icon-scjd-eye-fill:before {
  content: "\e90a";
}

.el-icon-scjd-currency-moneycollect:before {
  content: "\e80b";
}

.el-icon-scjd-like-fill:before {
  content: "\e90b";
}

.el-icon-scjd-medicine-box:before {
  content: "\e80c";
}

.el-icon-scjd-shop:before {
  content: "\e80d";
}

.el-icon-scjd-unlike-fill:before {
  content: "\e90d";
}

.el-icon-scjd-rocket:before {
  content: "\e80e";
}

.el-icon-scjd-unlock-fill:before {
  content: "\e90f";
}

.el-icon-scjd-alert-fill:before {
  content: "\e910";
}

.el-icon-scjd-api-fill:before {
  content: "\e911";
}

.el-icon-scjd-highlight-fill:before {
  content: "\e912";
}

.el-icon-scjd-deployment-unit:before {
  content: "\e813";
}

.el-icon-scjd-currency-account-book:before {
  content: "\e814";
}

.el-icon-scjd-edit-fill:before {
  content: "\e914";
}

.el-icon-scjd-contacts:before {
  content: "\e815";
}

.el-icon-scjd-pushpin-fill:before {
  content: "\e915";
}

.el-icon-scjd-rocket-fill:before {
  content: "\e916";
}

.el-icon-scjd-calendar-check:before {
  content: "\e817";
}

.el-icon-scjd-thunderbolt-fill:before {
  content: "\e917";
}

.el-icon-scjd-calendar:before {
  content: "\e818";
}

.el-icon-scjd-tag-fill:before {
  content: "\e918";
}

.el-icon-scjd-scan:before {
  content: "\e819";
}

.el-icon-scjd-tool-fill:before {
  content: "\e919";
}

.el-icon-scjd-arrows-select:before {
  content: "\e81a";
}

.el-icon-scjd-tags-fill:before {
  content: "\e91a";
}

.el-icon-scjd-box-plot:before {
  content: "\e81b";
}

.el-icon-scjd-build:before {
  content: "\e81c";
}

.el-icon-scjd-sliders:before {
  content: "\e81d";
}

.el-icon-scjd-error-fill:before {
  content: "\e91d";
}

.el-icon-scjd-laptop:before {
  content: "\e81e";
}

.el-icon-scjd-crown-fill:before {
  content: "\e91e";
}

.el-icon-scjd-code-bar:before {
  content: "\e81f";
}

.el-icon-scjd-mail-fill:before {
  content: "\e91f";
}

.el-icon-scjd-car-fill:before {
  content: "\e920";
}

.el-icon-scjd-cluster:before {
  content: "\e821";
}

.el-icon-scjd-printer-fill:before {
  content: "\e921";
}

.el-icon-scjd-shop-fill:before {
  content: "\e922";
}

.el-icon-scjd-car:before {
  content: "\e823";
}

.el-icon-scjd-USB-fill:before {
  content: "\e924";
}

.el-icon-scjd-book1:before {
  content: "\e825";
}

.el-icon-scjd-golden-fill:before {
  content: "\e925";
}

.el-icon-scjd-cloud-server:before {
  content: "\e826";
}

.el-icon-scjd-build-fill:before {
  content: "\e926";
}

.el-icon-scjd-cloud-upload:before {
  content: "\e827";
}

.el-icon-scjd-box-plot-fill:before {
  content: "\e927";
}

.el-icon-scjd-sliders-fill:before {
  content: "\e928";
}

.el-icon-scjd-cloud-download:before {
  content: "\e829";
}

.el-icon-scjd-cloud-sync:before {
  content: "\e82a";
}

.el-icon-scjd-logo-ant-design:before {
  content: "\e92a";
}

.el-icon-scjd-logo-ant-cloud:before {
  content: "\e92b";
}

.el-icon-scjd-notification:before {
  content: "\e82c";
}

.el-icon-scjd-sound:before {
  content: "\e82d";
}

.el-icon-scjd-logo-google-plus:before {
  content: "\e92d";
}

.el-icon-scjd-chart-radar:before {
  content: "\e82e";
}

.el-icon-scjd-code-qr:before {
  content: "\e82f";
}

.el-icon-scjd-logo-google:before {
  content: "\e92f";
}

.el-icon-scjd-logo-IE:before {
  content: "\e930";
}

.el-icon-scjd-logo-amazon:before {
  content: "\e931";
}

.el-icon-scjd-table:before {
  content: "\e833";
}

.el-icon-scjd-logo-alipay:before {
  content: "\e933";
}

.el-icon-scjd-id-card:before {
  content: "\e834";
}

.el-icon-scjd-logo-taobao:before {
  content: "\e934";
}

.el-icon-scjd-credit-card:before {
  content: "\e835";
}

.el-icon-scjd-logo-zhihu:before {
  content: "\e935";
}

.el-icon-scjd-logo-HTML:before {
  content: "\e936";
}

.el-icon-scjd-block:before {
  content: "\e837";
}

.el-icon-scjd-logo-linkedin:before {
  content: "\e937";
}

.el-icon-scjd-error:before {
  content: "\e838";
}

.el-icon-scjd-logo-yahoo:before {
  content: "\e938";
}

.el-icon-scjd-logo-facebook:before {
  content: "\e939";
}

.el-icon-scjd-gold:before {
  content: "\e83a";
}

.el-icon-scjd-heat-map:before {
  content: "\e83b";
}

.el-icon-scjd-sand-box:before {
  content: "\e93b";
}

.el-icon-scjd-wifi:before {
  content: "\e83c";
}

.el-icon-scjd-box:before {
  content: "\e93d";
}

.el-icon-scjd-edit:before {
  content: "\e83e";
}

.el-icon-scjd-logo-aliwangwang:before {
  content: "\e93e";
}

.el-icon-scjd-key:before {
  content: "\e83f";
}

.el-icon-scjd-logo-apple:before {
  content: "\e93f";
}

.el-icon-scjd-api:before {
  content: "\e840";
}

.el-icon-scjd-logo-android:before {
  content: "\e940";
}

.el-icon-scjd-disconnect:before {
  content: "\e841";
}

.el-icon-scjd-highlight:before {
  content: "\e842";
}

.el-icon-scjd-logo-gitlab:before {
  content: "\e942";
}

.el-icon-scjd-monitor:before {
  content: "\e843";
}

.el-icon-scjd-circle-ball:before {
  content: "\e943";
}

.el-icon-scjd-logo-instagram:before {
  content: "\e944";
}

.el-icon-scjd-reddit:before {
  content: "\e945";
}

.el-icon-scjd-logo-windows:before {
  content: "\e946";
}

.el-icon-scjd-pushpin:before {
  content: "\e847";
}

.el-icon-scjd-logo-yuque:before {
  content: "\e947";
}

.el-icon-scjd-logo-Youtube:before {
  content: "\e948";
}

.el-icon-scjd-shake:before {
  content: "\e849";
}

.el-icon-scjd-logo-gitlab-fill:before {
  content: "\e949";
}

.el-icon-scjd-tag:before {
  content: "\e84a";
}

.el-icon-scjd-drop-box:before {
  content: "\e94a";
}

.el-icon-scjd-tool:before {
  content: "\e84b";
}

.el-icon-scjd-logo-dingtalk:before {
  content: "\e94b";
}

.el-icon-scjd-tags:before {
  content: "\e84c";
}

.el-icon-scjd-logo-android-fill:before {
  content: "\e94c";
}

.el-icon-scjd-scissor:before {
  content: "\e84d";
}

.el-icon-scjd-logo-apple-fill:before {
  content: "\e94d";
}

.el-icon-scjd-logo-windows-fill:before {
  content: "\e94f";
}

.el-icon-scjd-branches:before {
  content: "\e850";
}

.el-icon-scjd-logo-qq:before {
  content: "\e950";
}

.el-icon-scjd-fork:before {
  content: "\e851";
}

.el-icon-scjd-logo-twitter:before {
  content: "\e951";
}

.el-icon-scjd-arrows-shrink:before {
  content: "\e852";
}

.el-icon-scjd-arrawsalt:before {
  content: "\e853";
}

.el-icon-scjd-logo-weibo:before {
  content: "\e953";
}

.el-icon-scjd-logo-wechat-fill:before {
  content: "\e957";
}

.el-icon-scjd-arrows-fullscreen:before {
  content: "\e85a";
}

.el-icon-scjd-logo-aliwangwang-fill:before {
  content: "\e95a";
}

.el-icon-scjd-arrows-fullscreen-exit:before {
  content: "\e85b";
}

.el-icon-scjd-logo-github:before {
  content: "\e960";
}

.el-icon-scjd-arrows-upload:before {
  content: "\e862";
}

.el-icon-scjd-arrows-vertical-align-middl:before {
  content: "\e865";
}

.el-icon-scjd-arrows-download:before {
  content: "\e868";
}

.el-icon-scjd-sort-descending:before {
  content: "\e869";
}

.el-icon-scjd-sort-ascending:before {
  content: "\e86a";
}

.el-icon-scjd-arrows-swap:before {
  content: "\e86c";
}

.el-icon-scjd-logo-instagram-fill:before {
  content: "\e97a";
}

.el-icon-scjd-font-size:before {
  content: "\e87d";
}

.el-icon-scjd-currency-Dollar1:before {
  content: "\e77f";
}

.el-icon-scjd-circle-compass:before {
  content: "\e780";
}

.el-icon-scjd-strikethrough:before {
  content: "\e880";
}

.el-icon-scjd-circle-frown:before {
  content: "\e782";
}

.el-icon-scjd-circle-info-circle:before {
  content: "\e783";
}

.el-icon-scjd-arrows-left-circle:before {
  content: "\e784";
}

.el-icon-scjd-code:before {
  content: "\e884";
}

.el-icon-scjd-arrows-down-circle:before {
  content: "\e785";
}

.el-icon-scjd-currency-EURO:before {
  content: "\e786";
}

.el-icon-scjd-apartment:before {
  content: "\e987";
}

.el-icon-scjd-circle-meh:before {
  content: "\e789";
}

.el-icon-scjd-audio-fill:before {
  content: "\e989";
}

.el-icon-scjd-arrows-enter:before {
  content: "\e88a";
}

.el-icon-scjd-robot:before {
  content: "\e98a";
}

.el-icon-scjd-robot-fill:before {
  content: "\e98c";
}

.el-icon-scjd-currency-Pound:before {
  content: "\e78d";
}

.el-icon-scjd-bug-fill:before {
  content: "\e98d";
}

.el-icon-scjd-arrows-right-circle:before {
  content: "\e78e";
}

.el-icon-scjd-arrows-rollback:before {
  content: "\e88e";
}

.el-icon-scjd-bug:before {
  content: "\e98e";
}

.el-icon-scjd-circle-smile:before {
  content: "\e78f";
}

.el-icon-scjd-small-dash:before {
  content: "\e88f";
}

.el-icon-scjd-circle-trademark:before {
  content: "\e790";
}

.el-icon-scjd-play-pause:before {
  content: "\e890";
}

.el-icon-scjd-comment:before {
  content: "\e990";
}

.el-icon-scjd-circle-time:before {
  content: "\e791";
}

.el-icon-scjd-bg-colors:before {
  content: "\e891";
}

.el-icon-scjd-signal-fill:before {
  content: "\e991";
}

.el-icon-scjd-crown:before {
  content: "\e892";
}

.el-icon-scjd-verified:before {
  content: "\e992";
}

.el-icon-scjd-circle-earth:before {
  content: "\e793";
}

.el-icon-scjd-currency-YUAN:before {
  content: "\e794";
}

.el-icon-scjd-desktop:before {
  content: "\e894";
}

.el-icon-scjd-videoadd:before {
  content: "\e994";
}

.el-icon-scjd-arrows-up-circle:before {
  content: "\e795";
}

.el-icon-scjd-user-switch:before {
  content: "\e995";
}

.el-icon-scjd-logo-whatsapp:before {
  content: "\e996";
}

.el-icon-scjd-fire:before {
  content: "\e897";
}

.el-icon-scjd-currency-transaction:before {
  content: "\e798";
}

.el-icon-scjd-thunderbolt:before {
  content: "\e898";
}

.el-icon-scjd-arrows-undo:before {
  content: "\e799";
}

.el-icon-scjd-play-backward:before {
  content: "\e999";
}

.el-icon-scjd-arrows-redo:before {
  content: "\e79a";
}

.el-icon-scjd-arrows-left-circle-fill:before {
  content: "\e89a";
}

.el-icon-scjd-arrows-down-circle-fill:before {
  content: "\e89b";
}

.el-icon-scjd-arrows-reloadtime:before {
  content: "\e79c";
}

.el-icon-scjd-play-fast-backward:before {
  content: "\e99d";
}

.el-icon-scjd-dashboard:before {
  content: "\e79e";
}

.el-icon-scjd-circle-info-circle-fill:before {
  content: "\e89e";
}

.el-icon-scjd-play-forward:before {
  content: "\e99e";
}

.el-icon-scjd-circle-issuesclose:before {
  content: "\e79f";
}

.el-icon-scjd-arrows-up-circle-fill:before {
  content: "\e89f";
}

.el-icon-scjd-play-fast-forward:before {
  content: "\e99f";
}

.el-icon-scjd-arrows-right-circle-fill:before {
  content: "\e8a0";
}

.el-icon-scjd-search:before {
  content: "\e9a0";
}

.el-icon-scjd-arrows-logout:before {
  content: "\e7a1";
}

.el-icon-scjd-arrows-retweet:before {
  content: "\e9a1";
}

.el-icon-scjd-arrows-login:before {
  content: "\e9a2";
}

.el-icon-scjd-currency-EURO-fill:before {
  content: "\e8a3";
}

.el-icon-scjd-play-step-backward:before {
  content: "\e9a3";
}

.el-icon-scjd-eye:before {
  content: "\e7a4";
}

.el-icon-scjd-play-step-forward:before {
  content: "\e9a4";
}

.el-icon-scjd-arrows-swap-right:before {
  content: "\e9a5";
}

.el-icon-scjd-arrows-swap-left:before {
  content: "\e9a6";
}

.el-icon-scjd-arrows-export:before {
  content: "\e7a7";
}

.el-icon-scjd-circle-compass-fill:before {
  content: "\e8a7";
}

.el-icon-scjd-currency-Dollar-fill:before {
  content: "\e8a8";
}

.el-icon-scjd-arrows-Import:before {
  content: "\e7a9";
}

.el-icon-scjd-play-pause-fill:before {
  content: "\e8a9";
}

.el-icon-scjd-eyeclose-fill:before {
  content: "\e9a9";
}

.el-icon-scjd-eye-close:before {
  content: "\e9aa";
}

.el-icon-scjd-play-circle-fill:before {
  content: "\e8ab";
}

.el-icon-scjd-clear:before {
  content: "\e9ab";
}

.el-icon-scjd-currency-Pound-fill:before {
  content: "\e8ac";
}

.el-icon-scjd-layout:before {
  content: "\e7ad";
}

.el-icon-scjd-control:before {
  content: "\e7b0";
}

.el-icon-scjd-circle-time-fill:before {
  content: "\e8b0";
}

.el-icon-scjd-codelibrary:before {
  content: "\e7b1";
}

.el-icon-scjd-circle-trademark-fill:before {
  content: "\e8b1";
}

.el-icon-scjd-detail:before {
  content: "\e7b2";
}

.el-icon-scjd-currency-YUAN-fill:before {
  content: "\e8b2";
}

.el-icon-scjd-minus-square:before {
  content: "\e7b3";
}

.el-icon-scjd-plus-square:before {
  content: "\e7b4";
}

.el-icon-scjd-dashboard-fill:before {
  content: "\e8b5";
}

.el-icon-scjd-project:before {
  content: "\e7b6";
}

.el-icon-scjd-currency-wallet:before {
  content: "\e7b7";
}

.el-icon-scjd-formatpainter:before {
  content: "\e9b7";
}

.el-icon-scjd-calculator:before {
  content: "\e7b9";
}

.el-icon-scjd-minus-square-fill:before {
  content: "\e8b9";
}

.el-icon-scjd-arrows-interation:before {
  content: "\e7ba";
}

.el-icon-scjd-translate:before {
  content: "\e9bb";
}

.el-icon-scjd-border:before {
  content: "\e7bc";
}

.el-icon-scjd-plus-square-fill:before {
  content: "\e8c0";
}

.el-icon-scjd-currency-accountbook-fill:before {
  content: "\e8c1";
}

.el-icon-scjd-circle-field-time:before {
  content: "\e9c1";
}

.el-icon-scjd-calendar-fill:before {
  content: "\e8c3";
}

.el-icon-scjd-Partition:before {
  content: "\e9c3";
}

.el-icon-scjd-index:before {
  content: "\e9c4";
}

.el-icon-scjd-Storedprocedure:before {
  content: "\e9c5";
}

.el-icon-scjd-project-fill:before {
  content: "\e8c6";
}

.el-icon-scjd-detail-fill:before {
  content: "\e8c7";
}

.el-icon-scjd-currency-wallet-fill:before {
  content: "\e8c9";
}

.el-icon-scjd-circle-aim:before {
  content: "\e9c9";
}

.el-icon-scjd-useradd:before {
  content: "\e7ca";
}

.el-icon-scjd-control-fill:before {
  content: "\e8ca";
}

.el-icon-scjd-compress:before {
  content: "\e9ca";
}

.el-icon-scjd-user-team-delete:before {
  content: "\e7cb";
}

.el-icon-scjd-layout-fill:before {
  content: "\e8cb";
}

.el-icon-scjd-user-delete:before {
  content: "\e7cc";
}

.el-icon-scjd-folder-view:before {
  content: "\e9cc";
}

.el-icon-scjd-user-teamadd:before {
  content: "\e7cd";
}

.el-icon-scjd-mobile-fill:before {
  content: "\e8cd";
}

.el-icon-scjd-tablet-fill:before {
  content: "\e8ce";
}

.el-icon-scjd-group:before {
  content: "\e9ce";
}

.el-icon-scjd-user-team:before {
  content: "\e7cf";
}

.el-icon-scjd-book-fill:before {
  content: "\e8cf";
}

.el-icon-scjd-send:before {
  content: "\e9cf";
}

.el-icon-scjd-chart-area:before {
  content: "\e7d0";
}

.el-icon-scjd-currency-redenvelope-fill:before {
  content: "\e8d0";
}

.el-icon-scjd-Report:before {
  content: "\e9d0";
}

.el-icon-scjd-chart-line:before {
  content: "\e7d1";
}

.el-icon-scjd-safetycertificate-f:before {
  content: "\e8d1";
}

.el-icon-scjd-View:before {
  content: "\e9d1";
}

.el-icon-scjd-chart-bar:before {
  content: "\e7d2";
}

.el-icon-scjd-currency-property-fill:before {
  content: "\e8d2";
}

.el-icon-scjd-shortcut:before {
  content: "\e9d2";
}

.el-icon-scjd-chart-pointmap:before {
  content: "\e7d3";
}

.el-icon-scjd-insurance-fill:before {
  content: "\e8d3";
}

.el-icon-scjd-ungroup:before {
  content: "\e9d3";
}

.el-icon-scjd-container:before {
  content: "\e7d4";
}

.el-icon-scjd-securityscan-fill:before {
  content: "\e8d4";
}

.el-icon-scjd-database:before {
  content: "\e7d5";
}

.el-icon-scjd-sever:before {
  content: "\e7d6";
}

.el-icon-scjd-mobile:before {
  content: "\e7d7";
}

.el-icon-scjd-tablet:before {
  content: "\e7d8";
}

.el-icon-scjd-currency-redenvelope:before {
  content: "\e7d9";
}

.el-icon-scjd-book:before {
  content: "\e7da";
}

.el-icon-scjd-filedone:before {
  content: "\e7db";
}

.el-icon-scjd-reconciliation:before {
  content: "\e7dc";
}

.el-icon-scjd-file-exception:before {
  content: "\e7dd";
}

.el-icon-scjd-filesync:before {
  content: "\e7de";
}

.el-icon-scjd-filesearch:before {
  content: "\e7df";
}

.el-icon-scjd-solution:before {
  content: "\e7e0";
}

.el-icon-scjd-fileprotect:before {
  content: "\e7e1";
}

.el-icon-scjd-diff-fill:before {
  content: "\e8e1";
}

.el-icon-scjd-snippets-fill:before {
  content: "\e8e3";
}

.el-icon-scjd-file-exclamation:before {
  content: "\e7e4";
}

.el-icon-scjd-batchfolding-fill:before {
  content: "\e8e4";
}

.el-icon-scjd-reconciliation-fill:before {
  content: "\e8e5";
}

.el-icon-scjd-file-image:before {
  content: "\e7e6";
}

.el-icon-scjd-file-markdown:before {
  content: "\e7e7";
}

.el-icon-scjd-file-unknown:before {
  content: "\e7e8";
}

.el-icon-scjd-file-ppt:before {
  content: "\e7e9";
}

.el-icon-scjd-database-fill:before {
  content: "\e8e9";
}

.el-icon-scjd-file-word:before {
  content: "\e7ea";
}

.el-icon-scjd-container-fill:before {
  content: "\e8ea";
}

.el-icon-scjd-file:before {
  content: "\e7eb";
}

.el-icon-scjd-sever-fill:before {
  content: "\e8eb";
}

.el-icon-scjd-calendar-check-fill:before {
  content: "\e8ec";
}

.el-icon-scjd-file-copy:before {
  content: "\e7ee";
}

.el-icon-scjd-idcard-fill:before {
  content: "\e8ee";
}

.el-icon-scjd-snippets:before {
  content: "\e7ef";
}

.el-icon-scjd-creditcard-fill:before {
  content: "\e8ef";
}

.el-icon-scjd-audit:before {
  content: "\e7f0";
}

.el-icon-scjd-diff:before {
  content: "\e7f1";
}

.el-icon-scjd-book1-fill:before {
  content: "\e8f1";
}

.el-icon-scjd-batchfolding:before {
  content: "\e7f2";
}

.el-icon-scjd-contacts-fill:before {
  content: "\e8f2";
}

.el-icon-scjd-securityscan:before {
  content: "\e7f3";
}

.el-icon-scjd-currency-property:before {
  content: "\e7f4";
}

.el-icon-scjd-notification-fill:before {
  content: "\e8f4";
}

.el-icon-scjd-safetycertificate:before {
  content: "\e7f5";
}

.el-icon-scjd-insurance:before {
  content: "\e7f6";
}

.el-icon-scjd-currency-moneycollect-fill:before {
  content: "\e8f6";
}

.el-icon-scjd-alert:before {
  content: "\e7f7";
}

.el-icon-scjd-medicinebox-fill:before {
  content: "\e8f7";
}

.el-icon-scjd-hourglass:before {
  content: "\e7f9";
}

.el-icon-scjd-circle-bulb:before {
  content: "\e7fa";
}

.el-icon-scjd-skin-fill:before {
  content: "\e8fa";
}

.el-icon-scjd-experiment:before {
  content: "\e7fb";
}

.el-icon-scjd-video-fill:before {
  content: "\e8fb";
}

.el-icon-scjd-sound-fill:before {
  content: "\e8fc";
}

.el-icon-scjd-USB:before {
  content: "\e7ff";
}

.el-icon-scjd-skin:before {
  content: "\e800";
}

.el-icon-scjd-fire-fill:before {
  content: "\e900";
}

.el-icon-scjd-home:before {
  content: "\e801";
}

.el-icon-scjd-funnelplot-fill:before {
  content: "\e901";
}

